<% layout('layout/boilerplate')-%>

<div class="row mt-5">
    <div class="col-lg-6 mx-auto">
        
        <h1>SignUp</h1><br>
        <form action="/signup" method="POST">
            <div class="mb-3">
                <label class="form-label" for="username">UserName:</label>
                <input class="form-control" type="text" name="username" id="username" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" required pattern=".{5,}" title="Five or more characters">
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email" required  pattern="^[a-z0-9A-Z]{2,}.+@gmail.com$" title="Fill in Correct e-mail">
            </div>
            
            <button type="submit" class="btn btn-primary">SignUp</button>
        </form>
    </div>
</div>